/* Definição global simplificada */
* {
    box-sizing: border-box;
}

html, body {
    font-family: "Google Sans", sans-serif;
    margin: 0;
}

body {
    padding-top: 45px;
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url(img/colheiradeira_pdsl.png) no-repeat center center scroll;
    background-size: cover;
    backdrop-filter: blur(5px);
}

#box {
    color: #1a1a1a;
    width: 95%;
    max-width: 580px;
    background: #ffffff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.marca {
    width: 100%;
    max-width: 120px;
    display: block;
    margin: 15px auto 10px;
}

.nome_marca, h3 {
    text-align: center;
    color: #1a1a1a;
}

.nome_marca { font-size: 20px; margin: 10px 0; }

input, select {
    font-family: inherit;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin-bottom: 10px;
}

#assinatura_name {
    color: #202020;
    font-weight: 800;
    margin-top: 20px;
}

#assinatura {
    border: 1px solid #ececec;
    padding: 14px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 4px;
    overflow-x: auto; 
}

#mensagem {
    color: green;
    text-align: center;
}