html {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    font-size: 12px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/usina-sucroalcooleira-blog.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


#box {
    color: #222222;
    width: 100%;
    max-width: 580px;
    background: #ffffff;
    padding: 20px 25px;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.Line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#nome,#cargo{
    display: flex;
    max-width: 100%;
    width: 100%;
}


.marca {
    width: 100%;
    max-width: 120px;
    min-width: auto;
    height: auto;
    display: flex;
    margin: 0 auto 10px auto;
}

.nome_marca {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}


h3 {
    text-align: center;
}


input, select {
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    align-items: center;
    display: flex;
}

#mostrarTelefone {
    width: 15px;
    height: 20px;
    margin-right: 05px;;
}

#emailUsuario {
    width: 45%;
}

#ramal{
    margin-bottom: -05px;
}

#assinatura {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 4px;
}

#mensagem {
    color: green;
}