html {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;

}

body {
    padding-top: 45px;
    font-size: 14px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    /* Ajustes no Background */
    background-image: url(img/colheiradeira_pdsl.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* Mantém a proporção e cobre a tela */
    background-position: center center;
    /* Centraliza a imagem */
    background-attachment: scroll;
    /* Mais estável para mobile que o fixed */
    backdrop-filter: blur(5px);
}

#box {
    color: #1a1a1a;
    width: 100%;
    max-width: 580px;
    background: #ffffff;
    padding: 20px 25px;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.Line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#cargo {
    display: flex;
    max-width: 100%;
    width: 100%;
}


.marca {
    width: 100%;
    max-width: 120px;
    min-width: auto;
    height: auto;
    display: flex;
    margin: 15px auto 10px auto;
}

.nome_marca {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1a1a1a;
}


h3 {
    text-align: center;
}

#unidade {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
    ;
}

input,
select {
    font-family: "Google Sans", sans-serif;
    padding: 7px;
    margin-top: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    align-items: center;
    display: flex;
}

#mostrarTelefone {
    width: 15px;
    margin-right: 03px;
    ;
}

#emailUsuario {
    width: 45%;
}

strong#\@gf{
    font-size: 15px;
}

#ramal {
    margin-bottom: -05px;
}

p#assinatura_name{
    color: rgb(32, 32, 32);
    font-weight: 800;
}

#assinatura {
    border: 0.5px solid #ececec;
    padding: 14px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 4px;
}

#mensagem {
    color: green;
}