html {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}



body {
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/harvesting-combine-field.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


#box {
    color: #222222;
    width: 100%;
    max-width: 580px;
    background: #ffffff;
    padding: 20px 25px;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.Line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#nome,#cargo{
    display: flex;
    max-width: 100%;
    width: 100%;
}


.marca {
    width: 100%;
    max-width: 120px;
    min-width: auto;
    height: auto;
    display: flex;
    margin: 0 auto 10px auto;
}

.nome_marca {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}


h3 {
    text-align: center;
}

#unidade {
      font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "GRAD" 0;;
}

input, select {
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    align-items: center;
    display: flex;
}

#mostrarTelefone {
    width: 15px;
    height: 20px;
    margin-right: 05px;;
}

#emailUsuario {
    width: 45%;
}

#ramal{
    margin-bottom: -05px;
}

#assinatura {
    border: 1px solid #ccc;
    padding: 14px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 4px;
}

#mensagem {
    color: green;
}

/* From Uiverse.io by bociKond */ 
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  --clr: #0B6E4F;
  position: relative;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: .5rem;
  animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.35em;
  top: 0.18em;
  width: 0.15em;
  height: 0.4em;
  border: solid #E0E0E2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0B6E4F90;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #0B6E4F60;
  }

  100% {
    box-shadow: 0 0 0 13px #0B6E4F30;
    rotate: 0;
  }
}

.show_tel {
    color: #222222;
    font-size: 14px;
    margin-left: 40px;
    margin-bottom: 5px;
    display: flex
    text-align: right;
}